services:
  ui:
    build:
      context: ..
      dockerfile: ui/Dockerfile
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
      - GRAFANA_URL=http://grafana:3000
    volumes:
      - ../examples:/app/examples
    # depends_on:
    #   - api
    networks:
      - asr-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8501"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M 